* {
  box-sizing: border-box;
  background-color: #a2a2a2;
  color: #ffff;
}
.main .submain {
  display: flex;
}
.main .single {
  padding-left: 1%;
}
.main .sign {
  padding-left: 1%;
}
.main .sign span {
  padding: 6px;
  cursor: pointer;
} 
.main .sign .active {
  pointer-events: none;
}
.main .single h4 {
 color: #d5d5d5; 
}
.mainbelow .wrap {
  cursor: pointer;
  text-align: center;
}
.mainbelow .wrap img {
  margin: auto;
}
.mainbelow .slick-slider .slick-slide.slick-active.slick-current div,.mainbelow .slick-slider .slick-slide.slick-active.slick-current h2,.mainbelow .slick-slider .slick-slide.slick-active.slick-current img,.mainbelow .slick-slider .slick-slide.slick-active.slick-current h4,.mainbelow .slick-slider .slick-slide.slick-active.slick-current span,.mainbelow .slick-slider .slick-slide.slick-active.slick-current sup {
  background: #838080;
  border-radius: 15px;
}
.slick-slider {
  overflow: hidden;
  cursor: pointer;
}
.chartName span {
  cursor: pointer;
}